html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;

	font-family: sans-serif;
	font-size: medium;
	color: #2c3e50;
}
small{
	font-size:75%;
}

.mainView{
	height: 100%;
}

html, body{
	height: 100%;
	overflow: hidden;
}

a:link {
	color: #2c3e50;
}

/* visited link */
a:visited {
	color: #2c3e50;
}

/* mouse over link */
a:hover {
	color: #2c3e50;
}

/* selected link */
a:active {
	color: #2c3e50;
}

.header{
	position: relative;
	background-color: #3498db;
	text-align: center;
}
.header h1{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 2.75em;
}

.content{
	position: relative;
	height: 100%;
}


/* Whisky List view */
.whisky-list {
	border: 0 solid silver;
	border-width: 0 0 1px 1px;
}

.whisky-list-item{
	border: 0 solid silver;
	border-width: 1px 1px 0 0;
	padding:.5em;
}

.whisky-list-item a{
	text-decoration: none;
}

input{
	width: 100%;
}

/* Whisky Detail View*/

.whiskyImage{
	position: relative;
	width: 100%;
	height: 30%;
	background-image: url("/img/laphroaig_bg.jpg");
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}


/* Add whisky view*/

.addPhotoContainer{
	position: relative;
	width: 100%;
	height: 30%;
	text-align: center;
	background-color: lightgrey;
	line-height: 100%;
}

.addPhotoContainer span{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.addWhiskyForm{
	height: 100%;

}

.addWhiskyForm div{
	padding: 15px 0px;
}

.addWhiskyForm div textarea{
	width: 100%;
}


.addWhiskyForm div input,
.addWhiskyForm div textarea{
	padding: 10px;
	border-style: solid  none;
	border-color: #DDDDDD;
	border-width: 1px;
	margin: 5px 0px !important;

	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
 
.addWhiskyForm div input[type=text]:focus, 
.addWhiskyForm div textarea:focus {
  background-color: blue;
}



.submitBtn{
	position: absolute;
	bottom: 0;
	-webkit-appearance: none;

	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);

	text-transform: uppercase;
	text-align: center;
	line-height: 28px;
	cursor: pointer;

	height: 28px;
	width: calc(100% - 40px);
	margin: 10px;
	padding: 10px !important;
	background-color: lightgrey;
}


.submitBtn a{
	text-decoration: none;
}

.submitBtn:active{
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

.whiskyName,
.whiskySubName,
.whiskyCountry,
.whiskyRegion{
	position: relative;
	float: left;
	width: calc(50% - 20px);
}
