html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;

	font-family: sans-serif;
	color: #2c3e50;
}
small{
	font-size:75%;
}

.mainView{
	height: 100%;
}

html, body{
	height: 100%;
	overflow: hidden;
}

a:link {
	color: #2c3e50;
}

/* visited link */
a:visited {
	color: #2c3e50;
}

/* mouse over link */
a:hover {
	color: #2c3e50;
}

/* selected link */
a:active {
	color: #2c3e50;
}

.header{
	position: relative;
	background-color: #3498db;
	text-align: center;
}
.header h1{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 2.75em;
}

.content{
	position: relative;
	height: 100%;
}


/* Whisky List view */
.whisky-list {
	border: 0 solid silver;
	border-width: 0 0 1px 1px;
}

.whisky-list-item{
	border: 0 solid silver;
	border-width: 1px 1px 0 0;
	padding:.5em;
}

.whisky-list-item a{
	text-decoration: none;
}

input{
	width: 100%;
}

/* Whisky Detail View*/

.whiskyImage{
	position: relative;
	width: 100%;
	height: 30%;
	background-image: url("/img/laphroaig_bg.jpg");
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}


