<div class="header">
	<div class="header-btn left"> 
		<a href back-button>&#60; Back</a>
	</div>
	<h1>Add Whisky</h1>
</div>

<form id="addWhiskyForm" class="addWhiskyForm" ng-submit="addWhisky()">
	<div class="addPhotoContainer">
		<span>+ add a photo here</span>
		<input type="file" name="photo" />
	</div>

	<div>
		<input class="whiskyName" name="whiskyName" text="whiskyName" placeholder="Distiller name" ng-model="whisky.name">
		<input class="whiskySubName" name="whiskySubName" text="whiskySubName" placeholder="Whisky age and name" ng-model="whisky.subName">
		<input class="whiskyABV" name="whiskyABV" text="whiskyABV" placeholder="alcohol percentage" ng-model="whisky.abv">
	</div>
	<div>
		<input class="whiskyCountry" name="whiskyCountry" text="whiskyCountry" placeholder="Country of origin" ng-model="whisky.country">
		<input class="whiskyRegion" name="whiskyRegion" text="whiskyRegion" placeholder="Region of origin" ng-model="whisky.region">
	</div>
	
	<div>
		<textarea class="whiskyDescription" name="whiskyDescription" text="whiskyDescription" placeholder="Whisky description" rows="3" ng-model="whisky.description">
		</textarea>
	</div>
	<div class="submitBtn">
		<input type="submit" id="submit" value="Submit" />
		<!--a href="" onclick="document.getElementById('addWhiskyForm').submit();">add whisky</a-->
	</div>
</form>